<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guarderia Central - Inicio</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
    <div class="container">
        <h1>Menu Zonas</h1>
        <!-- <p class="subtitle"></p> -->
        
        <div class="buttons-container">
           <!-- Zonas -->
            <a th:href="@{/zonas/listar}" class="btn btn-tertiary">
                <span class="icon">🅿️</span>
                Ver Lista de Zonas
            </a>

            <a th:href="@{/zonas/agregar}" class="btn btn-tertiary">
                <span class="icon">➕</span>
                Agregar Nueva Zona
            </a>
        </div>
        <a th:href="@{/}" class="btn-back">🏠 Volver al menu principal</a>
    </div>
</body>
</html>