<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guarderia Central - Inicio</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
    <div class="container">
        <h1>Menu Socios</h1>
        <!-- <p class="subtitle"></p> -->
        
        <div class="buttons-container">
            <!-- Socios -->
            <a th:href="@{/socios/lista-socios}" class="btn btn-primary">
                <span class="icon">📋</span>
                Ver Lista de Socios
            </a>
            
            <a th:href="@{/socios/agregar-socio}" class="btn btn-secondary">
                <span class="icon">➕</span>
                Agregar Nuevo Socio
            </a>
        </div>
        <a th:href="@{/}" class="btn-back">🏠 Volver al menu principal</a>

    </div>
</body>
</html>